<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sywyu01.comment.repository.CommentMapper">
	<resultMap type="com.example.sywyu01.comment.dto.CommentDTO" id="commentResultMap">
		<result column="COMMENT_ID" property="commentId"/>
		<result column="COMMENT_POST_ID" property="commentPostId"/>
		<result column="COMMENT_USER_ID_NUMBER" property="commentUserIdNumber"/>
		<result column="COMMENT_CONTENT" property="commentContent"/>
		<result column="COMMENT_CREATED_AT" property="commentCreatedAt"/>
	</resultMap>
	<sql id="commentSQL">
		SELECT COMMENT_ID,
				COMMENT_POST_ID,
				COMMENT_USER_ID_NUMBER, 
				COMMENT_CONTENT, 
				COMMENT_CREATED_AT 
		FROM COMMENTS
	</sql>
	<select id="findAllComments" resultMap="commentResultMap">
		<include refid="commentSQL" />
	</select>
	<select id="findAllCommentsByPostId" resultMap="commentResultMap">
		<include refid="commentSQL" />
		WHERE COMMENT_POST_ID = #{postId}
	</select>
	<select id="findAllCommentsByUserIdNumber" resultMap="commentResultMap">
		<include refid="commentSQL" />
		WHERE COMMENT_USER_ID_NUMBER = #{userIdNumber}
	</select>
	<select id="findAllCommentsByCommentId" resultMap="commentResultMap">
		<include refid="commentSQL" />
		WHERE COMMENT_ID = #{commentId}
	</select>
</mapper>