<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sywyu01.user.repository.UserMapper">
	<resultMap type="com.example.sywyu01.user.dto.UserDTO" id="userResultMap" >
		<id column="USER_ID_NUMBER" property="userIdNumber"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PASSWORD" property="userPassword"/>
		<result column="USER_CREATED_AT" property="userCreatedAt"/>
		<collection property="userRole" ofType="com.example.sywyu01.common.enums.UserRole">
			<result column="ROLE"/>
		</collection>
	</resultMap>
	<sql id="userSQL">
		SELECT u.USER_ID_NUMBER,
				u.USER_ID, u.USER_PASSWORD,
				u.USER_CREATED_AT,
				r.ROLE
		FROM USERS u
		LEFT OUTER JOIN USER_ROLE r
		ON u.USER_ID_NUMBER = r.USER_ID_NUMBER
	</sql>
	<select id="findAllUsers" resultMap="userResultMap">
		<include refid="userSQL" />
	</select>
	<select id="findAllUsersByUserRole" resultMap="userResultMap">
		<include refid="userSQL" />
		WHERE r.ROLE = #{userRole}
	</select>
	<select id="findUserByUserId" parameterType="String" resultMap="userResultMap">
		<include refid="userSQL" />
		WHERE USER_ID = #{userId}
	</select>
	<select id="findUserByUserIdNumber" parameterType="Long" resultMap="userResultMap">
		<include refid="userSQL" />
		WHERE USER_ID_NUMBER = #{userIdNumber}
	</select>
	
	<select id="findRolesByUserIdNumber" resultMap="userResultMap">
		SELECT USER_ID_NUMBER, ROLE
		FROM USER_ROLE
		WHERE USER_ID_NUMBER = #{userIdNumber}
	</select> 
	
	<select id="existsByUserId" parameterType="string"
		resultType="int">
		SELECT COUNT(*)
		FROM USERS
		WHERE USER_ID = #{userId}
	</select>
	
	<insert id="createUser" parameterType="com.example.sywyu01.user.dto.CreateUserDTO">
		INSERT INTO USERS (
							USER_ID,
							USER_PASSWORD
							) 
					VALUES (
							#{userId},
							#{userPassword}
							)
	</insert>
	<insert id = "addUserRole">
	 INSERT INTO USER_ROLE(USER_ID_NUMBER, ROLE)
	 VALUES (#{userIdNumber}, #{role})
	 
	</insert>
	
</mapper>